body{
    background-color:#F6F8F9;
    font-family: proxima-nova,Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 18px;
}
.placed-component-body{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.line{
    border-left: 2px solid #BAC2CA;
    height: 50px;
    margin-left:145px
}
.primaryButton{
    position:absolute;
    right:50px;
    background:rgb(43, 152, 211); 
    color:white
}
/*Navbar*/
.navsearch{
    background: #373F47;
    color: #91979F;
    width: 200px;
    border: 1px solid #606A72;
    padding: 4px 24px 4px 8px;
    line-height: 18px;
    height: 32px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.topbar{
    background: #373F47;
    color: #DFE3E6;
    position: relative;
    z-index: 3;
    font-size: 13px;
    border-bottom: 1px solid rgba(55,63,71,.15);
    min-width: 1038px;
    font-family: proxima-nova,Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
.container-fluid{
    min-width: 1004px;
    padding-left: 0;
    align-items: center;
}
.header-secondary-container{
    display: flex;
    align-items: center;
    flex: 1 1;
    height: 64px;
}
.header-primary-container{
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: flex-end;
    flex: 2 1;
}
.nav{
    margin: 0;
    height: 64px;
    left: 0;
    float: left;
}
.Nav .NavItem .NavLink{
    padding: 0 16px;
    display: block;
    color: #DFE3E6;
    font-size: 14px;
    text-transform: none;
}
.Nav .NavItem .NavLink:hover{
    color:#DFE3E6;
    background:#4B545C;
    
}

/* Main Sidepanel */
.list{
    position: relative;
    margin: 0;
    padding: 2px 0 2px 0;
}
.list a{
    color: #373F47;
    font-weight: 400;
    padding: 0 16px;
    text-shadow: none;
    margin: 0;
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    line-height: 32px;
    font-size: 14px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    border: none;
    background: 0 0;
    outline: 0;
    user-select: none;
    box-sizing: border-box;
}

.list-link .icon{
    margin-right: 8px;
    display: inline-block;
    width: 18px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    color: #606A72;
}
.icon{
    font: normal normal normal 14px/1 FontAwesome4;
}
.list-section{
    border-top: 1px solid #BAC2CA;
    margin: 0 16px 0 0;
    padding: 14px 0 14px 0;
}

/* Dashboard */
#main{
    width: 100%;
    float: right;
    margin: 0 -204px 0 auto;
    background: #FFF;
    min-height: 730px;
    font-family: proxima-nova,Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.dashboard-nav-header{
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
    color: rgb(48, 59, 67);
    font-family: proxima-nova, sans-serif;
    white-space: initial;
    padding-left: 24px;
    padding-top: 15px;
}
.dashboard-nav-footer{
    height: 44px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgb(223, 227, 230);
    background: transparent;
}
.dashboard-nav-footer-component{
    flex-grow: 0;
    height: 100%;
    padding: 0px 18px;
    height: 100%;
    margin-bottom: -4px;
    font-family: proxima-nova;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(96, 106, 114);
}
.dashboard-body{
    background-color: rgb(246, 248, 249);
    flex: 1 1 0%;
    position: relative;
    max-width: 778px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}
.dashboard-card{
    min-width: 0px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(98, 111, 126, 0.66) 0px 1px 2px 0px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    flex: 1 1 0%;
    border-radius: 4px;
    margin-top: 12px;
}
.dashboard-card-header{
    min-width: 0px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    flex: 1 1 0%;
    border-radius: 4px;
    padding-top: 16px;
    padding-left: 24px;
    justify-content: space-between;
    align-items: flex-start;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    color: rgb(48, 59, 67);
    font-family: proxima-nova, sans-serif;
}
.dashboard-card-body{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 8px 24px;
    flex: 1 1 0%;
    display: block;    
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: rgb(48, 59, 67);
    font-family: proxima-nova, sans-serif;
    white-space: initial;
}
.dashboard-card-footer{
    display: flex;
    padding: 16px 24px;
    position: relative;
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    font-weight: 400;
    min-height: 16px;
    color: rgb(43, 152, 211);
    border-radius: 2px;
}
/*Flowchart Side Panel Item */
.placed-component-icon-container{
    margin: 0 16px;
    color: #606A72;
}
.placed-component-icon-background{
    width: 32px;
    height: 32px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F4F5;
    border-radius: 100%;
}   
.placed-component-body{
    justify-content: flex-start;
    color: #373F47
}
.icon{
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}
/* flowchart nodes */
.placed-component{
    min-height: 112px;
    max-height: 168px;
    border: 2px solid transparent;
    position: relative;
    padding: 12px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(98,111,126,.66);
    width: 305px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
